@import "../../globals.scss";

.input__wrapper {
  display: flex;
  flex-direction: column;
  color: $middleGrey;
  width: 100%;

  input {
    height: 30px;

    max-width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid $lightGrey;
    color: $middleGrey;
    font-size: 16px;
    letter-spacing: 2px;
  }
}
.error_style {
  display: flex;
  flex-direction: column;
  color: $accentColor;
  width: 100%;

  input {
    height: 30px;

    max-width: 100%;
    outline: none;
    border: none;
    color: $accentColor;
    border-bottom: 2px solid $accentColor;
    font-size: 16px;
    letter-spacing: 2px;
  }
}
