.search__mobile {
}

.search__mobile__wrapper {
  width: 100%;
  min-width: 420px;
  min-height: 400px;
  background-color: #292929;
  position: absolute;
  left: 0;
  top: 0px;
  right: 0;
}

.search__mobile__close {
  //   position: absolute;
  top: 10px;
  right: 10px;
}
